html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

p {
    font-size: 16px;
}

header {
    height: auto;
    width: 80%;
    margin: 0 auto;
}

.container {
    line-height: 1.7;
    width: 80%;
    max-width: 100%;
}

/*
Container for /home.html
 */
.container-home {
    line-height: 1.7;
    width: 80% !important;
    max-width: 100%;
    margin: 0 auto !important;
    margin-bottom: 3em !important;
}

.row-cols-4 {
    height: 150px;
}

/* Logo for wide screen and mobile devices */

img.logo {
    float: right;
    width: 250px;
    height: 150px;
}

@media only screen and (max-width: 600px) {
    img.logo {
        float: none;
        width: 160px;
        height: 96px;
    }

}

/* LOGO ARRANGEMENT AND ORDER */

.img-area {
    display: flex;
    float: right;
}

#firstImage {
    order: 1;
    height: 120px !important;
    position: relative;
    left: 221px;
}

#cooperation\ secondOne {
    order: 2;
    position: relative;
    top: 3px;
    left: 268px;
    width: 270px;
    font-weight: 700;
    font-size: 16px;
    color: darkgray;
    font-family: initial;
}

#secondImage {
    order: 3;
    position: relative;
    top: 20px;
}

@media only screen and (max-width: 990px) {
    .img-area {
        display: none;
    }
}

/* Logo editing end */


.col-md-12 {
    height: 71px;
}

/* NAVBAR EDITING */

nav {
    width: 100%;
    margin: auto;
    height: 65px;
    border: 1px solid rgba(169, 169, 169, .1);
    box-shadow: 1px 1px 1px darkgray;
    font-weight: 500;
}

.forgotPassword{
    float: right;
}

/*Report Navigation stuff*/
/* only use hover effect if the width is > 990px*/
@media only screen and (min-width: 990px) {
    .dropdown-li:hover {
        background-color: aliceblue;
    }
}

/*--------------*/

/* NAVBAR CUSTOMIZATION FOR DIFFERENT DEVICES */
@media only screen and (max-width: 990px) {
    header {
        height: 450px;
    }

    /*Report Navigation stuff*/
    #dropdown-ul {
        background-color: rgb(250, 250, 250);
        width: 50%;
    }

    /*show nav in the foreground*/
    #navbarNav {
        z-index: 2;
    }

    /*--------------*/
    .navbar-collapse {
        background-color: #f8f9fa;
        margin: 20px 0 50px 0;
        box-shadow: 1px 1px 1px darkgray;
    }

    .navbar-collapse li {
        border: 1px solid rgba(169, 169, 169, .1);
        padding: 10px 10px;
        font-weight: 600;
    }

    .container-fluid {
        margin-top: 100px;
    }
}


footer {
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: rgba(169, 169, 169, .5);
    border: 1px solid rgba(169, 169, 169, .5);
    box-shadow: 1px 1px 1px darkgray;
    margin-top: auto;
}


/* Ausgegraute Branche:Geschäftsstelle, weil unveränderbar */
.lockedBranche {
    background-color: lightgray;
    height: 40px;
    display: flex;
    border-radius: 5px;
}

.lockedBrancheDisplaytext {
    padding: 13px 0 0 10px;
    flex: 0 0 auto;
    width: 46%;
    position: relative;
    top: -6px;
}

.lockedBranche button {
    color: darkred;
    background-color: transparent;
    border: 0;
    width: 100%;
    margin: 0 0;
}

.dropdown-menu {
    width: 10%;
    padding: 12px;
    border-radius: 3px;
}

@media screen and (max-width: 900px) {
    .lockedBranche button {
        color: darkred;
        background-color: transparent;
        border: 0;
        width: 95%;
        margin: 0 0;
    }
}

/* HOME SEITE */
.startseite {
    display: flex;
    flex: 0 0 auto;
    margin-top: 40px;
}

.homeParagraph p {
    line-height: 2;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 0.5rem !important;
    text-align: justify;
}

.schalenmodell {
    width: auto;
    height: 50%;
    margin: 4em 0 0 3em;
}

/* HOME Seite Mobil */
@media screen and (max-width: 990px) {

    header{
        height: auto;
    }

    .homeParagraph{
        width: 100%!important;
    }

    .row-cols-2 {
        width: 100%!important;
    }

    .startseite {
        margin-top: 40px;
        display: block;
    }

    .schalenmodell {
        width: 100%;
        height: 50%;
        margin: 3em 0;
    }
}

/** account/changeCredentials.html **/
.container-credentials{
    width: 60%;
    max-width: 100%;
    line-height: 1.7;
    margin: auto auto 10em; /* Centering the container, but putting 10em space to end of the page */
}

.mt-5-substitute{
    margin-top: 0!important;
}

.h3-changeCredentials{
    font-size: 1.5rem!important;
    font-family: sans-serif;
}
