.masterScenario, .scenarios{
    display: flex;
    flex-direction: column;
    border: 0.2em solid #9f9b9b;
    border-radius: 1em;
    padding: 0.5em;
}
.masterScenario{
    margin-top: 3em;
}
.moveScenario{
    margin-right: 0.5em;
}
.masterScenarioAttributes{
    flex-direction: row;
    align-content: center;
    display: block;
    width: 97%;
    margin-bottom: 1em;
}

.select-masterScenarioName{
    width: 100%;
    display: flex;
    padding: 0.5rem 0;
}

.masterScenarioName{
    width: 100%;
}

.scenario{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    margin-top: 0.5em;
}

.scenarioName, .scenarioDescription{
    width: 45%;
}

.addScenarioButton{
    width: 20%;
    margin-bottom: 2em;
}

.deleteScenario{
    margin: 0.7rem 0;
}

.moveScenarioButton{
    width: 100%;
    margin: 0.5em 0;
}

.submitScenario{
    margin: 0.7rem 0;
}

.masterScenarioWeight{
    width: 10%;
    text-align: center;
}
