.masterScenario, .scenarios{
    display: flex;
    flex-direction: column;
}
.masterScenarioAttributes{
    flex-direction: row;
    align-content: center;
    display: block;
    width: 97%;
    margin-bottom: 1em;
}

.select-masterScenarioName{
    width: 100%;
    display: flex;
    padding: 0.5rem 0;
}

.masterScenarioName{
    width: 100%;
}

.scenario{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
}

.scenarioName, .scenarioDescription{
    width: 45%;
}

.addScenarioButton{
    width: 20%;
    margin-bottom: 2em;
}

.deleteScenario{
    margin: 0.7rem 0;
}

.submitScenario{
    margin: 0.7rem 0;
}
