<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2>Mein Verlauf</h2>
        <br>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Kommentar</th>
                <th>Datum</th>
                <th>Uhrzeit</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            <!-- REVERSE th:each -> -->
            <tr th:each="i: ${#numbers.sequence(questList.size() -1,0,-1)}">
                <td th:text="${questList[i].id}"></td>
                <td th:text="${questList[i].comment}"></td>
                <td th:text="${questList[i].date.toLocalDate()}"></td>
                <td th:text="${questList[i].date.toLocalTime().toString().substring(0,5)}"></td>
                <td>
                    <a class="btn btn-outline-primary" th:href="@{/threatmatrix/open/{questID}(questID=${questList[i].id})}">
                        Details
                    </a>
                    <!-- Button trigger modal -->
                    <button th:if="${questList.size() > 1}" type="button" class="btn btn-outline-danger"
                            data-toggle="modal"
                            th:data-target="${'#exampleModalCenter'+questList[i].id}">
                        Löschen
                    </button>
                </td>

                <!-- Confirmation of Deletion -->
                <!-- Modal -->
                <div class="modal fade" th:id="${'exampleModalCenter' + questList[i].id}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Löschung bestätigen</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Sind Sie sich sicher, dass Sie diese Bedrohungsmatrix unwiderruflich löschen möchten?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                                <a th:href="@{/threatmatrix/chronic/{questID}(questID=${questList[i].id})}">
                                    <button type="button" class="btn btn-outline-danger">Bestätigen</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TODO: Comment Feld -->


            </tr>

            </tbody>

        </table>
    </div>


</div>
</body>
</html>