<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/create_threatmatrix_style.css}">
    <script th:src="@{/js/create_threatmatrix_script.js}"></script>

    <title>Bedrohungsmatrix</title>

</head>
<body>
<div layout:fragment="content" class="container">
    <h2>Fragebogen</h2><br>
    <form th:object="${threatmatrix}" th:action="@{/threatmatrix}" method="post">

        <th:block th:each="masterScenario : ${masterScenarioList}" th:if="${masterScenario.active}">
            <h5 th:text="${masterScenario.name}"></h5>

            <table class="threatmatrix-table">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Szenarien</td>
                    <td></td>
                    <td>Eintrittswahrscheinlichkeit <span><i class="bi bi-info-circle" data-toggle="modal"
                                                             data-target="#probability"></i></span></td>
                    <td>Auswirkung <span><i class="bi bi-info-circle" data-toggle="modal"
                                            data-target="#impact"></i></span></td>
                    <td>Bedrohungslage</td>
                </tr>

                </thead>
                <tbody>

                <th:block th:each="scenario : ${masterScenario.scenarios}" th:if="${scenario.active}">
                    <tr class="threatTr " th:with="index = ${counter.countAndGet()}">
                        <!--use ternary operator to choose which class (classes specify background-color) the ids have, based on the MasterScenarios-->
                        <td th:text="${index + 1}"
                            class="masterScenarioIds" th:style="${'background-color: ' + masterScenario.getLayerColorAsString()}"></td>

                        <td th:text="${scenario.name}"></td>
                        <div class="modal fade" th:id='${"scenario"+scenario.id}' tabindex="-1" role="dialog" th:aria-labelledby='${"scenario"+scenario.id}'
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="scenarioTitle" th:text="${scenario.name}"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" >
                                        <p th:text="${scenario.description}"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">schließen
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MODAL END -->
                        <!-- Icon and Modal for Scenario Description -->
                        <td><span><i class="bi bi-info-circle" data-toggle="modal" th:data-target='${"#scenario"+scenario.id}'></i></span>
                        </td>

                        <td>
                            <select class="form-select probabilitySelect"
                                    th:field="*{userScenarios[__${threatmatrix.scenarioIdToIndex.get(scenario.getId())}__].probability}"
                                    onchange="onChange(this)">
                                <option th:value="${-1}" th:text="${'unbekannt'}"></option>
                                <option th:value="${0}" th:text="${'nie'}"></option>
                                <option th:value="${1}" th:text="${'selten'}"></option>
                                <option th:value="${2}" th:text="${'mittel'}"></option>
                                <option th:value="${3}" th:text="${'häufig'}"></option>
                                <option th:value="${4}" th:text="${'sehr häufig'}"></option>
                            </select>
                        </td>
                        <input type="hidden"
                               th:field="*{userScenarios[__${threatmatrix.scenarioIdToIndex.get(scenario.getId())}__].scenario.id}">
                        <td><select class="form-select impactSelect"
                                    th:field="*{userScenarios[__${threatmatrix.scenarioIdToIndex.get(scenario.getId())}__].impact}"
                                    onchange="onChange(this)">
                            <option th:value="${-1}" th:text="${'unbekannt'}"></option>
                            <option th:value="${1}" th:text="${'keine'}"></option>
                            <option th:value="${2}" th:text="${'geringes'}"></option>
                            <option th:value="${3}" th:text="${'hohes'}"></option>
                            <option th:value="${4}" th:text="${'existenzbedrohend'}"></option>
                        </select></td>

                        <td>
                            <div class="showQuestion threatsituationDiv">Unbekannt</div>
                        </td>

                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn bi bi-card-text" data-bs-toggle="dropdown"
                                        aria-expanded="false" data-bs-auto-close="outside"></button>
                                <textarea class="form-control dropdown-menu" id="exampleDropdownFormEmail2"
                                          th:field="*{userScenarios[__${threatmatrix.scenarioIdToIndex.get(scenario.getId())}__].smallComment}"
                                          rows="3" cols="6" maxlength="360"
                                          placeholder=" Kommentar bis zu 360 Zeichen..."></textarea>

                            </div>
                        </td>
                    </tr>

                </th:block>
                <tfoot>
                </tfoot>

            </table>

        </th:block>
        <!-- Szenario hinzu!
        <h5>Extras</h5>
            <a class="btn btn-outline-secondary" role="button" th:href="@{/threatmatrix/add_szenario}"><i class="bi bi-plus-circle"></i> neues Szenario anlegen</a>
        <br><br>
        -->
        <h3><label class="form-group shadow-textarea">Kommentar zum Fragebogen</label></h3>
        <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" th:rows="5" th:cols="123"
                  th:field="*{comment}"
                  placeholder="Kommentar bitte hier eingeben..."></textarea>

        <div class="col-md-12 mt-2">
            <button type="submit" class="btn btn-primary float-end">Speichern</button>
        </div>

    </form>

    <!-- Modal Eintrittswahrscheinlichkeit-->
    <div class="modal fade" id="probability" tabindex="-1" role="dialog" aria-labelledby="probability"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="probabilityTitle">Eintrittswahrscheinlichkeit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Beschrieben wird die Wahrscheinlichkeit des Eintretens der unten genannten Szenarien.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">schließen</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Eintrittswahrscheinlichkeit-->
    <div class="modal fade" id="impact" tabindex="-1" role="dialog" aria-labelledby="impact" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="impactTitle">Auswirkung</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Beschrieben werden die Auswirkungen bei Eintreten einer oder mehrerer in den Szenarien beschriebener
                    Ereignisse.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">schließen</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>