<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Registrieren</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="signup-form">
                    <form th:object="${user}" th:action="@{/register/user}" method="post"
                          class="mt-5 border p-4 bg-light shadow">
                        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissible">
                            <ul>
                                <li class="" th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                            </ul>
                        </div>
                        <div th:if="${usernameError} != null" class="alert alert-danger alert-dismissible">
                            <p th:text="${usernameError}"></p>
                        </div>
                        <h4 class="mb-4 text-secondary">Erstelle einen Account</h4>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label>Vorname</label>
                                <input type="text" name="firstname" class="form-control"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Nachname</label>
                                <input type="text" name="lastname" class="form-control"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Branche</label>
                                <select th:id="selectBranch" type="branche" name="branche" class="form-select">
                                    <option value="none" selected disabled hidden>Branche wählen...</option>
                                    <optgroup th:each="sector : ${sectorList}" th:label="${sector.getName()}">
                                        <option th:each="branch : ${sector.getBranches()}"
                                                th:value="${branch.getName()}"
                                                th:text="${branch.getName()}"/>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Unternehmen</label>
                                <input type="text" name="company" class="form-control"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Nutzername</label>
                                <input type="us" name="username" class="form-control"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Passwort</label>
                                <input type="password" name="password" class="form-control" minlength="12"/>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label>Passwort bestätigen</label>
                                <input type="password" name="confirmPassword" class="form-control" minlength="12"/>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                                <label class="form-check-label" for="flexCheckDefault">
                                    Mit der Registrierung stimmen Sie der <a th:href="@{../datenschutz}">Datenschutzerklärung</a> zu.
                                </label>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary float-end">Registrieren</button>
                            </div>

                        </div>
                    </form>
                    <p class="text-center mt-3 text-secondary">Haben sie einen Account? <a th:href="@{/login}">Jetzt
                        anmelden</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
