<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Password ändern</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-credentials">
        <h2>Nutzerdaten ändern</h2><br><br>

        <h3 class="h3-changeCredentials">Passwort ändern</h3>

        <form th:object="${form}" th:action="@{/account/changeCredentials}" method="post"
              class="mt-5 border p-4 bg-light shadow mt-5-substitute">
            <div th:if="${passwordError} != null" class="alert alert-danger alert-dismissible">
                <p th:text="${passwordError}"></p>
            </div>
            <div th:if="${passwordSuccess} != null" class="alert alert-success" role="alert">
                <p th:text="${passwordSuccess}"></p>
            </div>
            <div th:if="${param.error}" class="alert alert-danger" role="alert"></div>

            <div class="form-group">
                <label for="oldPassword">Altes Passwort</label>
                <input type="password" id="oldPassword" name="oldPassword" class="form-control" tabindex="1"
                       minlength="12" autofocus/>
            </div>

            <div class="form-group">
                <label for="newPassword">Neues Passwort</label>
                <input type="password" id="newPassword" name="newPassword" placeholder="Mindestens 12 Zeichen"
                       class="form-control" minlength="12"
                       tabindex="2"/>
            </div>
            <div class="form-group">
                <label for="confirmNewPassword">Neues Passwort bestätigen</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="Mindestens 12 Zeichen"
                       class="form-control" minlength="12"
                       tabindex="3"/>
            </div>

            <div class="form-group m-1">
                <button type="submit" tabindex="4" class="btn btn-primary">Passwort ändern</button>
            </div>
        </form>
        <br>

        <!-- EMAIL ÄNDERN -->
        <h3 class="h3-changeCredentials">Email-Adresse ändern</h3>

        <form th:object="${form}" th:action="@{/account/changeCredentials}" method="post"
              class="mt-5 border p-4 bg-light shadow mt-5-substitute">
            <div th:if="${emailError} != null" class="alert alert-danger alert-dismissible">
                <p th:text="${emailError}"></p>
            </div>
                <div th:if="${emailSuccess} != null" class="alert alert-success" role="alert">
                    <p th:text="${emailSuccess}"></p>
                </div>

            <div class="form-group">
                <label for="oldMail">Alte Email-Adresse</label>
                <input type="email" id="oldMail" name="oldEmail" class="form-control" tabindex="5" autofocus/>
            </div>

            <div class="form-group">
                <label for="newMail">Neue Email-Adresse</label>
                <input type="email" id="newMail" name="newEmail" class="form-control" tabindex="6"/>
            </div>

            <div class="form-group m-1">
                <button type="submit" class="btn btn-primary" tabindex="7">Email ändern</button>
            </div>
        </form>
        <!-- EMAIL ENDE ------------->

        <!-- VORNAME & NACHNAME ÄNDERN -->
        <br>
        <h3 class="h3-changeCredentials">Vor- und Nachnamen ändern</h3>
        <form th:object="${form}" th:action="@{/account/changeCredentials}" method="post"
              class="mt-5 border p-4 bg-light shadow mt-5-substitute">
            <div th:if="${firstnameSuccess} != null" class="alert alert-success" role="alert">
                <p th:text="${firstnameSuccess}"></p>
            </div>
            <div th:if="${lastnameSuccess} != null" class="alert alert-success" role="alert">
                <p th:text="${lastnameSuccess}"></p>
            </div>

            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Fehler bei der Eingabe.
            </div>

            <div class="form-group">
                <label for="newFirstname">Neuer Vorname</label>
                <input type="text" id="newFirstname" name="newFirstname" class="form-control" tabindex="8" autofocus/>
            </div>

            <div class="form-group">
                <label for="newLastname">Neuer Nachname</label>
                <input type="text" id="newLastname" name="newLastname" class="form-control" tabindex="9"/>
            </div>

            <div class="form-group m-1">
                <button type="submit" class="btn btn-primary" tabindex="10">Namen ändern</button>
            </div>
        </form>
        <!-- VORNAME & NACHNAME ENDE -->
    </div>
</div>

</body>
</html>