<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Password ändern</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2>Password ändern</h2>

        <form th:object="${user}" th:action="@{/account/changePassword}" method="post"
              class="mt-5 border p-4 bg-light shadow">
            <div th:if="${param.success}" class="alert alert-success" role="alert"></div>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Fehler bei der Eingabe.
            </div>

            <div class="form-group">
                <label for="oldPassword">Altes Passwort</label>
                <input type="password" id="oldPassword" name="oldPassword" class="form-control" required tabindex="1"
                       minlength="12" autofocus/>
            </div>

            <div class="form-group">
                <label for="newPassword">Neues Passwort</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" minlength="12" required
                       tabindex="2"/>
            </div>

            <div class="form-group m-1">
                <button type="submit" class="btn btn-primary">Passwort ändern</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>