<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Nutzerpflichten Zur Kooperationsplattform</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <p>Bundesamt für Sicherheit in der Informationstechnik
        <br>Geschäftsstelle UP KRITIS
        <br>Referat WG 11
        <br>Postfach 200363
        <br>53113 Bonn</p>

        <h1>Nutzerpflichten zur Kooperationsplattform</h1>
        <br>

        <p>(Anlage zum Antrag auf Mitgliedschaft in Arbeitskreisen des UP KRITIS)
            Im UP KRITIS wird zur Unterstützung der Zusammenarbeit der Teammitglieder die Kooperationsplattform
            „WebBaki“ (eine Webbasierte Abfrage zur Ermittlung aktueller Bedrohungen in den einzelnenn Sektoren &
            Branchen) genutzt. Vertragspartner des Anbieters der Plattform ist das BSI und die Mitglieder des UP-KRITIS
            TAK OpInAt (Themenkreis Operativer Informationsaustausch).
            Da die allgemeinen Geschäftsbedingungen des Anbieters nur gegenüber dem o.g. als Vertragspartner gelten, die
            dort festgelegten Bedingungen zur Nutzung des Dienstes jedoch alle Teammitglieder betreffen, verpflichten
            Sie sich als Nutzerin oder Nutzer der Plattform zur Einhaltung folgender Verhaltensregeln:</p>

        <ul>
            <li>Ihre Login-Informationen sind personenbezogen und dürfen nicht an Dritte weitergegeben werden. Sollte
                sich
                Ihre Funktion innerhalb Ihrer Organisation ändern (z. B. Benennung einer neuen Ansprechperson für den UP
                KRITIS), informieren Sie die UP-KRITIS-Geschäftsstelle, damit ggf. Ihr Benutzeraccount gesperrt und ein
                neuer WebBaKI-Account eingerichtet wird.
            </li>
            <li>
                Bei Verlust oder Kompromittierung Ihrer Login-Informationen für die Kooperationsplattform informieren
                Sie
                die UP-KRITIS-Geschäftsstelle umgehend.
            </li>
            <li>Ihre Login-Informationen müssen sicher aufbewahrt und vor dem Zugriff Unbefugter geschützt werden.</li>
            <li>
                Die Kooperationsplattform dient nur der Mitarbeit im UP KRITIS. Die Verwendung zu anderen Zwecken ist
                nicht
                gestattet. Diese Regelung umfasst insbesondere auch die Verwendung der in der Kooperationsplattform
                hinterlegten Kontaktdaten (Vorname, Nachname, E-Mail-Adressen usw.) sowie der dort eingestellten
                Informationen, die ausschließlich zu Zwecken des UP KRITIS genutzt werden dürfen.
            </li>
            <li>
                Alle Inhalte der Kooperationsplattform sind gemäß ihrer jeweiligen Einstufung und den sich daraus
                ergebenden
                Regularien (z. B. TLP) zu handhaben. Das bedeutet, dass ein zusätzlicher Schutz derartiger Dokumente und
                Informationen z. B. mit geeigneter Verschlüsselungssoftware notwendig sein kann. Die zur Verschlüsselung
                verwendeten zusätzlichen Schlüssel-(mittel) dürfen keinesfalls auf der Plattform hinterlegt werden.
            </li>
            <li>
                Die Nutzer sind für die Richtigkeit der von ihnen hinterlegten Informationen (insbesondere Kontaktdaten)
                selbst verantwortlich.
            </li>
            <li>
                Technische Probleme im Zusammenhang mit der Nutzung der Kooperationsplattform sind zeitnah der
                UP-KRITIS-Geschäftsstelle zu melden, damit diese entsprechend den vertraglichen Vereinbarungen durch den
                Auftragnehmer behoben werden können.
            </li>
            <li>
                Die Nutzerinnen und Nutzer unterlassen die Einstellung von Material, das gegen deutsche Gesetze
                verstößt,
                sowie die Versendung von Nachrichten oder sonstigem Material, das gegen Gesetze des jeweiligen
                Empfängerlandes verstößt.
            </li>
            <li>
                Alle Nutzerinnen und Nutzer verpflichten sich, das Urheberrecht des hier Anbietenden sowie Dritter zu
                beachten, im Rahmen ihrer Nutzung zu sichern und keine vom Anbieter verfügbar gemachten urheberrechtlich
                geschützten Informationen, Software oder sonstigen Inhalte zu vervielfältigen, zu übertragen oder
                anderweitig zu verbreiten.
            </li>
            <li>
                Innerhalb der Kooperationsplattform gelten die allgemein anerkannten Regeln zum angemessenen
                gesellschaftlichen Umgang miteinander („Netiquette“). Dies schließt insbesondere die Kommunikation
                mittels
                Foren und Nachrichten mit ein.
            </li>
            <br><br>
            <p>
                Die hier dargelegten Nutzerpflichten habe ich verstanden und stimme diesen zu.
            </p>
        </ul>
    </div>
</div>
</body>
</html>