<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Home</title>
  <!--<script th:src="@{/js/horizontal_vertical.js}" src="/js/horizontal_vertical.js"></script>-->
</head>
<body>
<!-- CSRF-Token -->
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<div layout:fragment="content">
  <div class="container">
    <h2>Horizontaler und Vertikaler Vergleich</h2>
    <br />
    <table class="table table-bordered ">
      <thead>
      <tr>
        <th class="col-4"></th>
        <th class="col-2">Unternehmen</th>
        <th class="col-2">Branche</th>
        <th class="col-2">Sektor</th>
        <th class="col-2">Bund</th>

      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <table class="table table-bordered ">
      <tbody>
      <tr>
        <td class="col-4"></td>
        <td class="col-8"><strong th:text='${"Q" + quarter + "/" + year}'></strong></td>
      </tr>
      </tbody>
    </table>

    <table class="table table-bordered">

      <tbody>
      <tr>
        <td class="col-4">
          Werte der letzten 4 Quartale
        </td>
        <td class="col-2">
          <div class="container">
            <div class="row">
              <div class="col-3" th:text='${"Q" + q1}'></div>
              <div class="col-3" th:text='${"Q" + q2}'></div>
              <div class="col-3" th:text='${"Q" + q3}'></div>
              <div class="col-3" th:text='${"Q" + q4}'></div>
            </div>
          </div>
        </td>
        <td class="col-2">
          <div class="container">
            <div class="row">
              <div class="col-3" th:text='${"Q" + q1}'></div>
              <div class="col-3" th:text='${"Q" + q2}'></div>
              <div class="col-3" th:text='${"Q" + q3}'></div>
              <div class="col-3" th:text='${"Q" + q4}'></div>
            </div>
          </div>
        </td>
        <td class="col-2">
          <div class="container">
            <div class="row">
              <div class="col-3" th:text='${"Q" + q1}'></div>
              <div class="col-3" th:text='${"Q" + q2}'></div>
              <div class="col-3" th:text='${"Q" + q3}'></div>
              <div class="col-3" th:text='${"Q" + q4}'></div>
            </div>
          </div>
        </td>
        <td class="col-2">
          <div class="container">
            <div class="row">
              <div class="col-3" th:text='${"Q" + q1}'></div>
              <div class="col-3" th:text='${"Q" + q2}'></div>
              <div class="col-3" th:text='${"Q" + q3}'></div>
              <div class="col-3" th:text='${"Q" + q4}'></div>
            </div>
          </div>
        </td>

      </tr>
      </tbody>

    </table>

    <div th:each="masterScenario : ${masterScenarioList}" th:if="${masterScenario.active}">

      <table class="table table-bordered">
        <thead type="hidden">
        <tr>
          <th class="col-4"><strong th:text="${masterScenario.name}"></strong></th>
          <th class="col-2"></th>
          <th class="col-2"></th>
          <th class="col-2"></th>
          <th class="col-2"></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="scenario : ${masterScenario.scenarios}" th:if="${scenario.active}">
          <td th:text="${scenario.name} + ${scenario.id}"></td>
          <td>
            <div th:style='${"padding:5px;background-color: " + companyReport.getReportScenario(scenario).getColor() + ";"}'>
              <th:block th:with="reportScenario=${companyReport.getReportScenario(scenario)}" >
                <th:block th:if="${reportScenario != null}">
                  <div th:switch="${reportScenario.getThreatSituation()}">
                    <span th:case="'-1'" th:text="${'unbekannt'}"></span>
                    <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                  </div>
                </th:block>
              </th:block>

            </div><br />
            <div class="row">
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${companyReportQ1 != null}">
                  <div th:style='${"padding:5px;background-color: " + companyReportQ1.getReportScenario(scenario).getColor() + ";"}'>
                    <th:block th:with="reportScenario=${companyReportQ1.getReportScenario(scenario)}">
                      <th:block th:if="${reportScenario != null}">
                        <div th:switch="${reportScenario.getThreatSituation()}">
                          <span th:case="'-1'" th:text="${'un'}"></span>
                          <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                        </div>
                      </th:block>
                    </th:block>
                  </div>
                </th:block>
                <th:block th:if="${companyReportQ1 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${companyReportQ2 != null}">
                <div th:style='${"padding:5px;background-color: " + companyReportQ2.getReportScenario(scenario).getColor() + ";"}'>
                  <th:block th:with="reportScenario=${companyReportQ2.getReportScenario(scenario)}">
                    <th:block th:if="${reportScenario != null}">
                      <div th:switch="${reportScenario.getThreatSituation()}">
                        <span th:case="'-1'" th:text="${'un'}"></span>
                        <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                      </div>
                    </th:block>
                  </th:block>
                </div>
                </th:block>
                <th:block th:if="${companyReportQ2 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${companyReportQ3 != null}">
                <div th:style='${"padding:5px;background-color: " + companyReportQ3.getReportScenario(scenario).getColor() + ";"}'>
                  <th:block th:with="reportScenario=${companyReportQ3.getReportScenario(scenario)}" >
                    <th:block th:if="${reportScenario != null}">
                      <div th:switch="${reportScenario.getThreatSituation()}">
                        <span th:case="'-1'" th:text="${'un'}"></span>
                        <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                      </div>
                    </th:block>
                  </th:block>
                </div>
                </th:block>
                <th:block th:if="${companyReportQ3 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${companyReportQ4 != null}">
                <div th:style='${"padding:5px;background-color: " + companyReportQ4.getReportScenario(scenario).getColor() + ";"}'>
                  <th:block th:with="reportScenario=${companyReportQ4.getReportScenario(scenario)}" >
                    <th:block th:if="${reportScenario != null}">
                      <div th:switch="${reportScenario.getThreatSituation()}">
                        <span th:case="'-1'" th:text="${'un'}"></span>
                        <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                      </div>
                    </th:block>
                  </th:block>
                </div>
                </th:block>
                <th:block th:if="${companyReportQ4 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
            </div>
          </td>
          <td>
            <div th:style='${"padding:5px;background-color: " + branchReport.getReportScenario(scenario).getColor() + ";"}'>
              <th:block th:with="reportScenario=${branchReport.getReportScenario(scenario)}" th:style='${"background-color: " + branchReport.getReportScenario(scenario).getColor() + ";"}'>
                <th:block th:if="${reportScenario != null}">
                  <div th:switch="${reportScenario.getThreatSituation()}">
                    <span th:case="'-1'" th:text="${'unbekannt'}"></span>
                    <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                  </div>
                </th:block>
              </th:block>
            </div><br />
            <div class="row">
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${branchReportQ1 != null}">
                <div th:style='${"padding:5px;background-color: " + branchReportQ1.getReportScenario(scenario).getColor() + ";"}'>
                  <th:block th:with="reportScenario=${branchReportQ1.getReportScenario(scenario)}" th:style='${"background-color: " + branchReportQ1.getReportScenario(scenario).getColor() + ";"}'>
                    <th:block th:if="${reportScenario != null}">
                      <div th:switch="${reportScenario.getThreatSituation()}">
                        <span th:case="'-1'" th:text="${'un'}"></span>
                        <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                      </div>
                    </th:block>
                  </th:block>
                </div>
                </th:block>
                <th:block th:if="${branchReportQ1 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${branchReportQ2 != null}">
                <div th:style='${"padding:5px;background-color: " + branchReportQ2.getReportScenario(scenario).getColor() + ";"}'>
                  <th:block th:with="reportScenario=${branchReportQ2.getReportScenario(scenario)}" th:style='${"background-color: " + branchReportQ2.getReportScenario(scenario).getColor() + ";"}'>
                    <th:block th:if="${reportScenario != null}">
                      <div th:switch="${reportScenario.getThreatSituation()}">
                        <span th:case="'-1'" th:text="${'un'}"></span>
                        <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                      </div>
                    </th:block>
                  </th:block>
                </div>
                </th:block>
                <th:block th:if="${branchReportQ2 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${branchReportQ3 != null}">
                <div th:style='${"padding:5px;background-color: " + branchReportQ3.getReportScenario(scenario).getColor() + ";"}'>
                  <th:block th:with="reportScenario=${branchReportQ3.getReportScenario(scenario)}" th:style='${"background-color: " + branchReportQ3.getReportScenario(scenario).getColor() + ";"}'>
                    <th:block th:if="${reportScenario != null}">
                      <div th:switch="${reportScenario.getThreatSituation()}">
                        <span th:case="'-1'" th:text="${'un'}"></span>
                        <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                      </div>
                    </th:block>
                  </th:block>
                </div>
                </th:block>
                <th:block th:if="${branchReportQ3 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${branchReportQ4 != null}">
                <div th:style='${"padding:5px;background-color: " + branchReportQ4.getReportScenario(scenario).getColor() + ";"}'>
                  <th:block th:with="reportScenario=${branchReportQ4.getReportScenario(scenario)}" th:style='${"background-color: " + branchReportQ4.getReportScenario(scenario).getColor() + ";"}'>
                    <th:block th:if="${reportScenario != null}">
                      <div th:switch="${reportScenario.getThreatSituation()}">
                        <span th:case="'-1'" th:text="${'un'}"></span>
                        <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                      </div>
                    </th:block>
                  </th:block>
                </div>
                </th:block>
                <th:block th:if="${branchReportQ4 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
            </div>
          </td>
          <td>
            <div th:style='${"padding:5px;background-color: " + sectorReport.getReportScenario(scenario).getColor() + ";"}'>
              <th:block th:with="reportScenario=${sectorReport.getReportScenario(scenario)}" th:style='${"background-color: " + sectorReport.getReportScenario(scenario).getColor() + ";"}'>
                <th:block th:if="${reportScenario != null}">
                  <div th:switch="${reportScenario.getThreatSituation()}">
                    <span th:case="'-1'" th:text="${'unbekannt'}"></span>
                    <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                  </div>
                </th:block>
              </th:block>
            </div><br />
            <div class="row">
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${sectorReportQ1 != null}">
                <div th:style='${"padding:5px;background-color: " + sectorReportQ1.getReportScenario(scenario).getColor() + ";"}'>
                  <th:block th:with="reportScenario=${sectorReportQ1.getReportScenario(scenario)}" th:style='${"background-color: " + sectorReportQ1.getReportScenario(scenario).getColor() + ";"}'>
                    <th:block th:if="${reportScenario != null}">
                      <div th:switch="${reportScenario.getThreatSituation()}">
                        <span th:case="'-1'" th:text="${'un'}"></span>
                        <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                      </div>
                    </th:block>
                  </th:block>
                </div>
                </th:block>
                <th:block th:if="${sectorReportQ1 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${sectorReportQ2 != null}">
                <div th:style='${"padding:5px;background-color: " + sectorReportQ2.getReportScenario(scenario).getColor() + ";"}'>
                  <th:block th:with="reportScenario=${sectorReportQ2.getReportScenario(scenario)}" th:style='${"background-color: " + sectorReportQ2.getReportScenario(scenario).getColor() + ";"}'>
                    <th:block th:if="${reportScenario != null}">
                      <div th:switch="${reportScenario.getThreatSituation()}">
                        <span th:case="'-1'" th:text="${'un'}"></span>
                        <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                      </div>
                    </th:block>
                  </th:block>
                </div>
                </th:block>
                <th:block th:if="${sectorReportQ2 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${sectorReportQ3 != null}">
                <div th:style='${"padding:5px;background-color: " + sectorReportQ3.getReportScenario(scenario).getColor() + ";"}'>
                  <th:block th:with="reportScenario=${sectorReportQ3.getReportScenario(scenario)}" th:style='${"background-color: " + sectorReportQ3.getReportScenario(scenario).getColor() + ";"}'>
                    <th:block th:if="${reportScenario != null}">
                      <div th:switch="${reportScenario.getThreatSituation()}">
                        <span th:case="'-1'" th:text="${'un'}"></span>
                        <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                      </div>
                    </th:block>
                  </th:block>
                </div>
                </th:block>
                <th:block th:if="${sectorReportQ3 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${sectorReportQ4 != null}">
                <div th:style='${"padding:5px;background-color: " + sectorReportQ4.getReportScenario(scenario).getColor() + ";"}'>
                  <th:block th:with="reportScenario=${sectorReportQ4.getReportScenario(scenario)}" th:style='${"background-color: " + sectorReportQ4.getReportScenario(scenario).getColor() + ";"}'>
                    <th:block th:if="${reportScenario != null}">
                      <div th:switch="${reportScenario.getThreatSituation()}">
                        <span th:case="'-1'" th:text="${'un'}"></span>
                        <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                      </div>
                    </th:block>
                  </th:block>
                </div>
                </th:block>
                <th:block th:if="${sectorReportQ4 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
            </div>
          </td>
          <td>
            <div th:style='${"padding:5px;background-color: " + nationalReport.getReportScenario(scenario).getColor() + ";"}'>
              <th:block th:with="reportScenario=${nationalReport.getReportScenario(scenario)}" th:style='${"background-color: " + nationalReport.getReportScenario(scenario).getColor() + ";"}'>
                <th:block th:if="${reportScenario != null}">
                  <div th:switch="${reportScenario.getThreatSituation()}">
                    <span th:case="'-1'" th:text="${'unbekannt'}"></span>
                    <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                  </div>
                </th:block>
              </th:block>
            </div><br />
            <div class="row">
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${nationalReportQ1 != null}">
                <div th:style='${"padding:5px;background-color: " + nationalReportQ1.getReportScenario(scenario).getColor() + ";"}'>
                  <th:block th:with="reportScenario=${nationalReportQ1.getReportScenario(scenario)}" th:style='${"background-color: " + nationalReportQ1.getReportScenario(scenario).getColor() + ";"}'>
                    <th:block th:if="${reportScenario != null}">
                      <div th:switch="${reportScenario.getThreatSituation()}">
                        <span th:case="'-1'" th:text="${'un'}"></span>
                        <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                      </div>
                    </th:block>
                  </th:block>
                </div>
                </th:block>
                <th:block th:if="${nationalReportQ1 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${nationalReportQ2 != null}">
                <div th:style='${"padding:5px;background-color: " + nationalReportQ2.getReportScenario(scenario).getColor() + ";"}'>
                  <th:block th:with="reportScenario=${nationalReportQ2.getReportScenario(scenario)}" th:style='${"background-color: " + nationalReportQ2.getReportScenario(scenario).getColor() + ";"}'>
                    <th:block th:if="${reportScenario != null}">
                      <div th:switch="${reportScenario.getThreatSituation()}">
                        <span th:case="'-1'" th:text="${'un'}"></span>
                        <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                      </div>
                    </th:block>
                  </th:block>
                </div>
                </th:block>
                <th:block th:if="${nationalReportQ2 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${nationalReportQ3 != null}">
                <div th:style='${"padding:5px;background-color: " + nationalReportQ3.getReportScenario(scenario).getColor() + ";"}'>
                  <th:block th:with="reportScenario=${nationalReportQ3.getReportScenario(scenario)}" th:style='${"background-color: " + nationalReportQ3.getReportScenario(scenario).getColor() + ";"}'>
                    <th:block th:if="${reportScenario != null}">
                      <div th:switch="${reportScenario.getThreatSituation()}">
                        <span th:case="'-1'" th:text="${'un'}"></span>
                        <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                      </div>
                    </th:block>
                  </th:block>
                </div>
                </th:block>
                <th:block th:if="${nationalReportQ3 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
              <div class="col-3" style="padding: 5px; ">
                <th:block th:if="${nationalReportQ4 != null}">
                <div th:style='${"padding:5px;background-color: " + nationalReportQ4.getReportScenario(scenario).getColor() + ";"}'>
                  <th:block th:with="reportScenario=${nationalReportQ4.getReportScenario(scenario)}" th:style='${"background-color: " + nationalReportQ4.getReportScenario(scenario).getColor() + ";"}'>
                    <th:block th:if="${reportScenario != null}">
                      <div th:switch="${reportScenario.getThreatSituation()}">
                        <span th:case="'-1'" th:text="${'un'}"></span>
                        <span th:case="*" th:text="${reportScenario.getThreatSituation()}"></span>
                      </div>
                    </th:block>
                  </th:block>
                </div>
                </th:block>
                <th:block th:if="${nationalReportQ4 == null}" style="padding:5px;">
                  <span th:text="${'n.a.'}"></span>
                </th:block>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <a type="button" id="downloadButton" class="btn btn-primary" th:href='${"/horizontal_vertical_comparison/download"}' style="margin-bottom: 2em;"> Download</a>




    <!--
        <div th:each="report : ${reportList}">
          <span th:text="${report.getid()}"></span>
        </div>-->


  </div>


</div>
</body>
</html>
