<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>

    <meta charset="UTF-8">
    <title>Snapshot</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2 th:text="${'Snapshot Details für ' + snapshot.getName()}"></h2><br>
        <h5 th:text="${'Erstellt ' + snapshot.getDateAsString()}"></h5>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Anzahl an Bedrohungsmatizen für die Berchnung</th>
                <th>Typ</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="report : ${snapshot.getReports()}">
                <td th:text="${report.getId()}"></td>
                <td th:text="${report.getNumberOfQuestionnaires()}"></td>
                <td th:if="${report.getUser() != null}" th:text="${'Nutzer-Report vom Nutzer ' + report.getUser().getUsername()}"></td>
                <td th:if="${report.getBranch() != null}" th:text="${'Branchen-Report der Branche ' + report.getBranch().getName()}"></td>
                <td th:if="${report.getSector() != null}" th:text="${'Sektor-Report des Sektors ' + report.getSector().getName()}"></td>
                <td th:if="${report.getSector() == null && report.getUser() == null && report.getBranch() == null}" >Nationaler Report</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>