<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Password zurücksetzen</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container-credentials">
    <h2>Passwort zurücksetzen</h2><br><br>

    <form th:object="${form}" th:action="@{/reset_password}" method="post"
          class="mt-5 border p-4 bg-light shadow mt-5-substitute">

      <!-- ERROR & SUCCESS NOTIFICATIONS -->
      <div th:if="${success} != null" class="alert alert-success">
        <p th:text="${success}"></p>
      </div>
      <div th:if="${error} != null" class="alert alert-danger alert-dismissible" role="alert">
        <p th:text="${error}"></p>
      </div>
      <!-- NOTIFICATIONS END -->

      <div class="form-group">
        <label for="newPassword">Neues Passwort</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control" tabindex="1" autofocus/>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Passwort bestätigen</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" tabindex="2" autofocus/>
        <input type="hidden" th:field="*{token}">
      </div>

      <div class="form-group m-1">
        <button type="submit" tabindex="3" class="btn btn-primary">Passwort zurücksetzen</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>