<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Geschäftsstelle</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2>Geschäftsstelle Dashboard</h2><br>
        <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>

        <form th:object="${form}" action="#" th:action="@{/office}" method="post">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Username</th>
                    <th>Aktiviert</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, itemStat: *{users}">
                    <td th:text="*{users[__${itemStat.index}__].id}"><input type="hidden" th:field="*{users[__${itemStat.index}__].id}" /></td>
                    <td th:text="*{users[__${itemStat.index}__].firstName}"><input type="hidden" th:field="*{users[__${itemStat.index}__].firstName}" /></td>
                    <td th:text="*{users[__${itemStat.index}__].lastName}"><input type="hidden" th:field="*{users[__${itemStat.index}__].lastName}" /></td>
                    <td th:text="*{users[__${itemStat.index}__].username}"><input type="hidden" th:field="*{users[__${itemStat.index}__].username}" /></td>

                    <th:block>
                        <td>
                            <select id="showRisk" class="form-select" th:field="*{users[__${itemStat.index}__].enabled}">
                                <option
                                        th:text="${user.enabled}" th:field="*{users[__${itemStat.index}__].enabled}" th:value="${1}">
                                </option>
                                <option
                                        th:text="false" th:field="*{users[__${itemStat.index}__].enabled}" th:value="${0}">
                                </option>
                            </select>
                        </td>
                    </th:block>
                </tr>
                </tbody>
            </table>
            <div class="col-md-12 mt-2">
                <input type="submit" th:value="Speichern" class="btn btn-primary float-end">
            </div>
        </form>

    </div>
</div>

</body>
</html>