<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Geschäftsstelle</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2>Geschäftsstelle Dashboard</h2><br>
        <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>

        <form th:object="${form}" action="#" th:action="@{/office}" method="post">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Username</th>
                    <th>Aktiviert</th>
                    <th>Branche</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, itemStat: *{users}">
                    <td><input hidden th:text="*{users[__${itemStat.index}__].id}" th:attr="name='${user[' + itemStat.index  + ']}'" th:value="${user.id}" /></td>
                    <td><input hidden th:text="*{users[__${itemStat.index}__].firstName}" th:attr="name='${user[' + itemStat.index  + ']}'" th:value="${user.firstName}" /></td>
                    <td><input hidden th:text="*{users[__${itemStat.index}__].lastName}" th:attr="name='${user[' + itemStat.index  + ']}'" th:value="${user.lastName}" /></td>
                    <td><input hidden th:text="*{users[__${itemStat.index}__].username}" th:attr="name='${user[' + itemStat.index  + ']}'" th:value="${user.username}" /></td>

                    <th:block>
                        <td>
                            <select id="showRisk" class="form-select" th:field="*{users[__${itemStat.index}__].enabled}">
                                <option
                                        th:text="true" th:field="*{users[__${itemStat.index}__].enabled}" th:value="${1}">
                                </option>
                                <option
                                        th:text="false" th:field="*{users[__${itemStat.index}__].enabled}" th:value="${0}">
                                </option>
                            </select>
                        </td>
                    </th:block>
                    <th:block>
                        <td>
                            <select th:id="selectBranch" type="branche" th:field="*{users[__${itemStat.index}__].branche}" name="branche" class="form-select">
                                <option value="none" selected disabled hidden>Branche wählen...</option>
                                <optgroup label="Energie">
                                    <option th:each="sectorEnergie : ${T(de.thb.webbaki.enums.SectorEnergy).values()}"
                                            th:value="${sectorEnergie.value}"
                                            th:text="${sectorEnergie.value}"></option>
                                </optgroup>
                                <optgroup label="Gesundheit">
                                    <option th:each="sectorGesundheit : ${T(de.thb.webbaki.enums.SectorHealth).values()}"
                                            th:value="${sectorGesundheit}"
                                            th:text="${sectorGesundheit.value}"></option>
                                </optgroup>
                                <optgroup label="Informationstechnik und Telekommunikation">
                                    <option th:each="sectorInfandTel : ${T(de.thb.webbaki.enums.SectorInfandTel).values()}"
                                            th:value="${sectorInfandTel}"
                                            th:text="${sectorInfandTel.value}"></option>
                                </optgroup>
                                <optgroup label="Transport und Verkehr">
                                    <option th:each="sectorTransport : ${T(de.thb.webbaki.enums.SectorTransport).values()}"
                                            th:value="${sectorTransport}"
                                            th:text="${sectorTransport.value}"></option>
                                </optgroup>
                                <optgroup label="Medien und Kultur">
                                    <option th:each="sectorMedandCult : ${T(de.thb.webbaki.enums.SectorMedandCult).values()}"
                                            th:value="${sectorMedandCult}"
                                            th:text="${sectorMedandCult.value}"></option>
                                </optgroup>
                                <optgroup label="Wasser">
                                    <option th:each="sectorWasser : ${T(de.thb.webbaki.enums.SectorWasser).values()}"
                                            th:value="${sectorWasser}" th:text="${sectorWasser.value}"></option>
                                </optgroup>
                                <optgroup label="Finanz- und Versicherungswesen">
                                    <option th:each="sectorFinance : ${T(de.thb.webbaki.enums.SectorFinance).values()}"
                                            th:value="${sectorFinance}" th:text="${sectorFinance.value}"></option>
                                </optgroup>
                                <optgroup label="Ernährung">
                                    <option th:each="sectorNutriton : ${T(de.thb.webbaki.enums.SectorNutriton).values()}"
                                            th:value="${sectorNutriton}" th:text="${sectorNutriton.value}"></option>
                                </optgroup>
                                <optgroup label="Staat und Verwaltung">
                                    <option th:each="sectorState : ${T(de.thb.webbaki.enums.SectorState).values()}"
                                            th:value="${sectorState}" th:text="${sectorState.value}"></option>
                                </optgroup>
                            </select>
                        </td>
                    </th:block>
                </tr>
                </tbody>
            </table>
            <div class="col-md-12 mt-2">
                <input type="submit" th:value="Speichern" class="btn btn-primary float-end">
            </div>
        </form>

    </div>
</div>

</body>
</html>