<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Geschäftsstelle</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2>Geschäftsstelle Dashboard</h2><br>
        <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>

        <form th:object="${form}" action="#" th:action="@{/office}" method="post">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Username</th>
                    <th>Aktiviert</th>
                    <th>Branche</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, itemStat: *{users}">
                    <td><input hidden th:text="*{users[__${itemStat.index}__].id}"
                               th:attr="name='${user[' + itemStat.index  + ']}'" th:value="${user.id}"/></td>
                    <td><input hidden th:text="*{users[__${itemStat.index}__].firstName}"
                               th:attr="name='${user[' + itemStat.index  + ']}'" th:value="${user.firstName}"/></td>
                    <td><input hidden th:text="*{users[__${itemStat.index}__].lastName}"
                               th:attr="name='${user[' + itemStat.index  + ']}'" th:value="${user.lastName}"/></td>
                    <td><input hidden th:text="*{users[__${itemStat.index}__].username}"
                               th:attr="name='${user[' + itemStat.index  + ']}'" th:value="${user.username}"/></td>

                    <th:block>
                        <td>
                            <select id="showRisk" class="form-select"
                                    th:field="*{users[__${itemStat.index}__].enabled}">
                                <option
                                        th:text="true" th:field="*{users[__${itemStat.index}__].enabled}"
                                        th:value="${1}">
                                </option>
                                <option
                                        th:text="false" th:field="*{users[__${itemStat.index}__].enabled}"
                                        th:value="${0}">
                                </option>
                            </select>
                        </td>
                    </th:block>
                    <th:block>
                        <td>
                            <select th:id="selectBranch" th:field="*{branchesAsString[__${itemStat.index}__]}"
                                    th:if="${user.getBranch().getName() != 'Geschäftsstelle'}" class="form-select">
                                <optgroup th:each="sector : ${sectorList}" th:label="${sector.getName()}">
                                    <option th:each="branch : ${sector.getBranches()}"
                                            th:value="${branch.name}"
                                            th:text="${branch}">
                                    </option>
                                </optgroup>
                            </select>
                            <div class="lockedBranche row-cols-2" th:if="${user.getBranch().getName() == 'Geschäftsstelle'}">
                                <p class="lockedBrancheDisplaytext" th:text="${user.getBranch().getName()}"
                                   th:if="${user.getBranch().getName() == 'Geschäftsstelle'}"></p>
                                <button class="bi bi-info-circle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu">
                                    <p>Die Branche eines Mitglieds der Geschäftsstelle kann nur vom Superadmin geändert werden.</p>
                                </div>
                            </div>
                        </td>
                    </th:block>
                </tr>
                </tbody>
            </table>
            <div class="col-md-12 mt-2">
                <input type="submit" th:value="Speichern" class="btn btn-primary float-end">
            </div>
        </form>

    </div>
</div>

</body>
</html>